h1, body, button
{
margin: 0;
padding: 0;
}
button:focus {
  outline: none;
}
body
{
background-color: #111e2f ;
}
body, a
{
line-height:30px;
font-size:25px;
color: white;
  text-align: center;
  text-decoration: none
}

.button {
  background-color: #003263;  
  border-radius: 5px;
  padding: .5em;
  display:inline-table;
}
.button:focus,
.button:hover {
  background-color: #007bff;
  color: White;
}

.titlehead {
  color: white;
  padding: .5em;
}

 
.tit
{
font-weight: bold;
padding-bottom:20px;
}
#CacheBar
{
font-weight: bold;
background-color: red;
padding:10px;
height:40px;
overflow: hidden;
}